<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">

  <!-- To save as "ebookshop\WEB-INF\web.xml" -->

  <servlet>
    <servlet-name>Allproduct</servlet-name>
    <servlet-class>showproducts</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>Orderform</servlet-name>
    <servlet-class>OrderServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Entrysearch</servlet-name>
    <servlet-class>EntryServlet</servlet-class>
  </servlet>



  <!-- Note: All <servlet> elements must be placed
       in front of <servlet-mapping> elements -->

  <servlet-mapping>
    <servlet-name>Allproduct</servlet-name>
    <url-pattern>/showproducts</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Orderform</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Entrysearch</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

</web-app>
